@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/Russell_M._Nelson.png" alt="Wiki image of President Russell M. Nelson"/>
        <h4>"With celestial sight, trials impossible to change become possible to endure."</h4>
        <p>
            <a href="https://www.churchofjesuschrist.org/study/general-conference/1988/04/with-god-nothing-shall-be-impossible?lang=eng">
                --Russell M. Nelson, "With God Nothing Shall Be Impossible", Ensign, May 1988, p. 35
            </a>
        </p>
    </div>
</div>
