@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site is not affiliated with nor endorced by the Church of Jesus Christ of Latter-day Saints. 
    Since it is publicly available, please post only material appropriate for the public domain,
    with reverence for the others who will visit.</p>
